version: '3.8'
services:
  oracle-xe:
    image: gvenzl/oracle-xe:21-slim
    container_name: oracle-xe
    environment:
      - ORACLE_PASSWORD=oracle
    ports:
      - "1521:1521"
      - "5500:5500"
    volumes:
      - ./init:/container-entrypoint-initdb.d
      - ./dump:/opt/oracle/dpdump
